@charset "UTF-8";

/*Versão para MOBILE FIRST*/
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;

}

body{
    background: black url(/mediaquery/ex003/imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main{
    background: rgba(255, 255, 255, 0.474);
    width: 70vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1{
text-align: center;
color: rgba(255, 254, 254, 0.744);
font-size: 2em;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.497);
}
img{
    display: block;
    margin:auto;
}
img#ph{
    display:block;}
img#tab{
    display:none;}
img#prin{
    display: none;}
img#desk{
    display:none;}
img#tv{
    display: none;}
